*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    
}

body{
    background-color: rgb(23, 23, 23);

    color: rgb(253, 255, 197);
}

#menu12{
    display: none;
}

.intro{
    width: 70%;
    margin: auto;
    padding: 20px;    
}

.grid{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, );
    gap: 20px;
}

.item{
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
}

.item_heading{
    color:rgb(255, 195, 140) ;
    font-size: 20px;
    font-weight: bold;
}
.item_class{
font-family: monospace;
}


.flowchart{
display: flex;
flex-direction: column;
}

#boxP{
    text-align: left;
    width: max-content; 
    margin: auto;
} 


@media (max-width:992px){
    *{
        font-size:15px;
    }


    header{
        display: none;
    }
    #menu12{
        display: block;
        padding: 20px;
    }

    #menu1:checked ~ header{
display: block;
    }
    #navigation{
    width: 100%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    }

    .screen{
        width: 80%;
        margin:20px auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        height: 100vh;
    }
    .screen1{
        width: 80%;
        margin:20px auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
        height: 100vh;
    }

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}





/* roadmap code */


.intro{
    width: 90%;
    margin: auto;
    padding: 20px; 
    text-align: justify;   
}

.grid{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:100%;
    gap: 20px;
}

.item{
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
}

.item_heading{
    color:rgb(255, 195, 140) ;
    font-size: 20px;
    font-weight: bold;
}
.item_class{
font-family: monospace;
}


.flowchart{
display: flex;
flex-direction: column;
}

#boxP{
    width:90%; 
    margin: auto;
} 


}
